$color-text-primary: #db3030;
$color-btn: #871919;
$family: "Noto Sans", sans-serif;
body,
html {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c !important;
  display: block !important;
  
  height: 100vh; 
  
  h5 {
    font-family: $family;
    color: white;
  }
  .footer {
    height: 5rem;
    background: $color-btn;
    margin-top: 8rem;
  }
  a {
    cursor: pointer;
  }

  p {
    margin: 0;
  }
  .badge {
    margin-top: 12px;
    font-family: $family;
    font-size: 1rem;
  }
  .paragraph {
    color: white;
    font-size: 1.2rem;
    font-family: $family;
    line-height: 40px;
  }
  .mt-15 {
    margin-top: 15rem !important;
  }
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
  .banner {
    position: relative;
    width: 100%;
    text-align: center;

    .banner-image {
      width: 100%;

      height: auto;
      object-fit: cover;
      opacity: 15%;
    }

    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }

  .about {
    margin-top: 3em;
   

    /*  .about-title {
      font-size: 2.2em;
      font-family: $family;
      font-weight: bold;
    } */

    .about-text {
      font-size: 1.2em;
      font-family: $family;
      font-weight: 300;
      width: 100%;
      line-height: 38px;
    }
  }
  .image-tecnologies {
    width: 40%;
    height: auto;
    
  }
  .title-comp {
    font-size: 1.75em;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1.5em;
    color: $color-text-primary;
  }

  h4 {
    color: #fff;
    line-height: 34px;
    font-family: $family;
    font-weight: 200;
  }

  .navbar {
    background-color: transparent;
    padding-left: 25px;
    position: absolute;
    width: 100%;
    z-index: 100;

    .navbar-link-container {
      margin-left: auto;
    }

    .navbar-link-text {
      color: $color-text-primary;
      margin: 0 15px 0 15px;
      font-family: $family;
      font-weight: 600;
    }
  }
  

  .container-info-project {
    margin: auto 0 auto 0;

    .btn-project {
      background-color: $color-btn;
      border-color: $color-btn;
      border-radius: 40px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .link-experience {
    text-decoration: underline;
    color: $color-text-primary;
  }

  .link-experience:hover {
    text-decoration: underline;
    color: $color-text-primary;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .banner-image-work {
    width: calc(100% - 20px);
  }

  @media only screen and (max-width: 600px) {
   
   .mt-sm {
     margin-top: 2rem !important;
   }
   .banner-show {
    position: relative;
    width: 100%;
    height: 550px;
    text-align: center;

    .banner-image {
      width: 100%;
      height:500px;
    
      object-fit: cover;
      opacity: 15%;
    }

    .banner-text {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
   }
    .banner {
      position: relative;
      width: 100%;
      height: 400px;
      text-align: center;

      .banner-image {
        width: 100%;
        height:370px;
      
        object-fit: cover;
        opacity: 15%;
      }

      .banner-text {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    }
    .about-title {
      font-size: 1.5em;
      margin-top: 12px;
      font-family: $family;
      font-weight: bold;
    }
    .paragraph {
      color: white;
      font-size: 1rem;
      font-family: $family;
      line-height: 2rem;
      margin-top: 40px;
    }

    body {
      font-size: 14px;
    }

    .avatar {
      border-radius: 100%;
      width: 8rem;
      height: 8rem;
      margin-top: 10em;
    }

    .title-comp {
      margin-top: 8em;
    }

    .title-comp:nth-child(2) {
      margin-top: 10em;
    }

    .item-image-carousel {
      width: 50%;
      height: auto;
      margin-left: 20%;
    }

    .container-info-project {
      width: 90%;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 12px;
    }

    .title-project {
      text-align: center;
    }

    .btn-project {
      width: 90%;
      margin-left: 12px;
    }
  }

  /* Media query para pantallas medianas (ej. tablets) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {

   
    .mt-md {
      margin-top: 5rem !important;
    }
    .banner {
      position: relative;
      width: 100%;
      height: 500px;
      text-align: center;

      .banner-image {
        width: 100%;
        height:500px;
      
        object-fit: cover;
        opacity: 15%;
      }

      .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
      .avatar {
        border-radius: 100%;
        width: 12rem;
        height: 12rem;
        margin-top: 10em;
      }
    }
    body {
      font-size: 18px;

      .avatar {
        border-radius: 100%;
        max-width: 100%;

        margin-top: 10em;
      }

      .item-image-carousel {
        width: 100%;
        height: auto;
        margin-left: 65%;
      }

      .container-info-project {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 12px;
      }

      .title-project {
        text-align: center;
      }

      .btn-project {
        width: 70%;
        margin-left: 12px;
        margin-top: 0rem;
      }
      .banner-image {
        width: 100%;

        height: 400px;
        object-fit: cover;
        opacity: 15%;
      }

      .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        transform: translate(-50%, -50%);
        color: #fff;
      }

      .about {
        margin-top: -80px;
        .about-text {
          width: 60%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .work-container {
        padding-left: 10%;

        .banner-image-work {
          width: 80%;
          height: auto;
          object-fit: cover;
        }

        .paragraph {
          color: white;
          font-size: 1.2rem;
          font-family: $family;
          line-height: 40px;
          width: 80%;
          text-align: justify;
        }
      }
    }
  }

  /* Media query para pantallas más grandes (ej. computadoras de escritorio) */
  @media only screen and (min-width: 1025px) {
    .item-image-carousel {
      width: 200px;
      height:350px;
      border-radius: 25px;
      object-fit: cover;
    }
    .about-title {
      font-size: 2em;
      font-family: $family;
      font-weight: bold;
      margin-top: 12px;
    }
    .title-comp {
      font-size: 1.8em;
      text-align: center;
      margin-top: 4em;
      margin-bottom: 1.5em;
      color: $color-text-primary;
    }
    .about-text {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
      font-family: $family;
    }
    .paragraph {
      color: white;
      font-size: 1rem;
      font-family: $family;
      line-height: 40px;
    }
    .mt-lg {
      margin-top: 5rem !important;
    }
    .banner {
      position: relative;
      width: 100%;
      height: 400px;
      text-align: center;

      .banner-image {
        width: 100%;
        height:400px;
      
        object-fit: cover;
        opacity: 15%;
      }

      .banner-text {
        position: absolute;
        top: 25%;
        left: 50%;
        width: 60%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    }

    .avatar {
      border-radius: 100%;
      width: 10rem;
      height: 10rem;
      margin-top: 10em;
    }
    
  }
}
