$color-text-primary: #db3030;
$color-btn: #871919;
$family: "Noto Sans", sans-serif;
@media only screen and (max-width: 600px) {
   
    .mt-sm {
      margin-top: 2rem !important;
    }
    
    .image-tecnologies {
      width: 55%;
      height: auto;
      
    }

    .name-text {
      color: #db3030;
      margin-top: 1rem;
      font-weight: bold;
      font-size: 30px;
      text-align: left;
     }
    .avatar {
      border-radius: 100%;
      width: 12rem;
      height: 12rem;
     margin: auto;
     display: none ;
    }
    .banner-show {
     position: relative;
     width: 100%;
     height: 620px;
     text-align: center;
     
     .banner-image {
       width: 100%;
       height: 100%;
     
       object-fit: cover;
       opacity: 15%;
     }
 
     .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 0.9rem;
      padding: 0.2rem;
    }
    }
     .banner {
       position: relative;
       
       width: 100%;
       height: 550px;
       text-align: center;
 

       
       .banner-image {
         width: 100%;
         height:100%;
       
         object-fit: cover;
         opacity: 15%;
       }
 
       .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 0.9rem;
      }

    
     }
     .about-title {
       font-size: 1.5em;
       margin-top: 12px;
       font-family: $family;
       font-weight: bold;
     }


     .paragraph {
       color: white;
       font-size: 1rem;
       font-family: $family;
       line-height: 2rem;
       margin-top: 40px;
     }
 
     body {
       font-size: 14px;
     }
 
     .avatar {
       border-radius: 100%;
       width: 8rem;
       height: 8rem;
       margin-top: 10em;
     }
 
     .title-comp {
       margin-top: 8em;
     }
 
     .title-comp:nth-child(2) {
       margin-top: 10em;
     }
 
     .item-image-carousel {
       width: 50%;
       height: auto;
       margin-left: 20%;
     }
 
     .container-info-project {
       width: 90%;
       margin-left: 20px;
       margin-right: 20px;
       margin-top: 12px;
     }
 
     .title-project {
       text-align: center;
     }
 
     .btn-project {
       width: 90%;
       margin-left: 12px;
     }
   }
 
   /* Media query para pantallas medianas (ej. tablets) */
   @media only screen and (min-width: 601px) and (max-width: 1024px) {
 
    .grid-container {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
     .mt-md {
       margin-top: 5rem !important;
     }
     .banner {
       position: relative;
       width: 100%;
       height: 500px;
       text-align: center;
 
       .banner-image {
         width: 100%;
         height:500px;
       
         object-fit: cover;
         opacity: 15%;
       }
 
       .banner-text {
         position: absolute;
         top: 50%;
         left: 50%;
         width: 100%;
         transform: translate(-50%, -50%);
         color: #fff;
       }
       .avatar {
         border-radius: 100%;
         width: 12rem;
         height: 12rem;
         margin-top: 10em;
       }
     }
     body {
       font-size: 18px;
 
       .avatar {
         border-radius: 100%;
         max-width: 100%;
 
         margin-top: 10em;
       }
 
       .item-image-carousel {
         width: 100%;
         height: auto;
         margin-left: 65%;
       }
 
       .container-info-project {
         width: 90%;
         margin-left: 20px;
         margin-right: 20px;
         margin-top: 12px;
       }
 
       .title-project {
         text-align: center;
       }
 
       .btn-project {
         width: 70%;
         margin-left: 12px;
         margin-top: 0rem;
       }
       .banner-image {
         width: 100%;
 
         height: 400px;
         object-fit: cover;
         opacity: 15%;
       }
 
       .banner-text {
         position: absolute;
         top: 50%;
         left: 50%;
         width: 60%;
         transform: translate(-50%, -50%);
         color: #fff;
       }
 
       .about {
         margin-top: -80px;
         .about-text {
           width: 60%;
           margin-left: auto;
           margin-right: auto;
         }
       }
       .work-container {
         padding-left: 10%;
 
         .banner-image-work {
           width: 80%;
           height: auto;
           object-fit: cover;
         }
 
         .paragraph {
           color: white;
           font-size: 1.2rem;
           font-family: $family;
           line-height: 40px;
           width: 80%;
           text-align: justify;
         }
       }
     }
   }
 
   /* Media query para pantallas más grandes (ej. computadoras de escritorio) */
   @media only screen and (min-width: 1025px) {
     .item-image-carousel {
       width: 200px;
       height:350px;
       border-radius: 25px;
       object-fit: cover;
     }
     .about-title {
       font-size: 2em;
       font-family: $family;
       font-weight: bold;
       margin-top: 12px;
     }
     .title-comp {
       font-size: 1.8em;
       text-align: center;
       margin-top: 4em;
       margin-bottom: 1.5em;
       color: $color-text-primary;
     }
     .about-text {
       width: 80%;
       text-align: left;
       font-size: 1rem;
       font-family: $family;
     }
     .paragraph {
       color: white;
       font-size: 1rem;
       font-family: $family;
       line-height: 40px;
     }
     .mt-lg {
       margin-top: 5rem !important;
     }
     .banner {
       position: relative;
       width: 100%;
       height: 100%;
       text-align: center;
 
       .banner-image {
         width: 100%;
         height:100%;
       
         object-fit: cover;
         opacity: 25%;
       }
 
       .banner-text {
         position: absolute;
         top: 50%;
         left: 50%;
         width:100%;
         transform: translate(-50%, -50%);
         color: #fff;
       }

       .name-text {
        color: #db3030;
       
        font-weight: bold;
        font-size: 50px;
        text-align: left;
       }
       .btn-arrow {
       border-width: 0;
       }
     }
 
     .avatar {
       border-radius: 100%;
       width: 12rem;
       height: 12rem;
      margin: auto;
     }

     .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
      gap: 20px;
    }
    
    .grid-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
     
   }